<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <% if(theme.thumbnail == true) { %>
    <div class="archive-article-thumbnail">
      <%- partial('post/thumbnail.ejs', {post: post}) %>
    </div>
    <% } %>
    <header class="archive-article-header">
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>

      <div class="article-meta">
      
        <% if(archive) { %>
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
        <% } else { %>
          <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY MMM D'}) %>
        <% } %>

        <!-- 评论、访问统计部分，不蒜子 -->
        <%- partial('post/comment') %>  
      </div>
      
     
    </header>
  </div>
</article>